.img-responsive{display:block; max-width:100%; height:auto;}
.text-center{text-align:center;}
.text-center .img-responsive{margin-left:auto; margin-right:auto;}
.material-icons{vertical-align:middle;}
#categories-list{font-size:12px;}
#categories-list .item-content, #categories-list .item-inner{min-height:initial;}
.articles-list .list-block{font-size:14px; margin-bottom:14px;}
.articles-list .list-block .item-subtitle{font-size:12px;}
.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear;}
@-webkit-keyframes fa-spin {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(359deg);transform: rotate(359deg);}
}
@keyframes fa-spin {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(359deg);transform: rotate(359deg);}
}